<div class="list-container">
  <ng-container *ngIf="isLoading">
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="tours[0]">
    <div>
      <p class="text-end me-2">Количество элементов: {{tours.length}}</p>
      <p class="text-end me-2">Активный элемент: {{blockDirective.index + 1}}</p>
    </div>
    <div class="content row row-cols-1 row-cols-md-2 g-4"
         appBlocksStyle
         (renderComplete)="directiveRenderComplete()"
         #blockDirective="blockStyle"
         selector=".ticket-item"
         [initFirst]="true">
      <ng-container *ngFor="let item of tours | listFilter: filterValue">
        <div [ngClass]="cardClass" (click)="goToTicket(item)">
          <div class="card h-100 tour-item ticket-item">
            <img src="http://localhost:4200/assets/img/{{ item.img }}" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.description | slice:0:100 }}{{ item.description.length > 100 ? '...' : '' }}</p>
              <p class="card-text text-muted">{{ item.price }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
