<div class="container">
  <form [formGroup]="changePasswordForm" (submit)="changePassSubmit()">
    <div>
      <input type="text" pInputText formControlName="oldPassword"  placeholder="old password"/>
      <div *ngIf="changePasswordForm.controls['oldPassword'].invalid && changePasswordForm.controls['oldPassword'].dirty">
        <span class="bg-danger">Пароль не должен быть короче {{this.minLength}}.</span>
      </div>
    </div>
    <div class="mt-4">
      <input type="text" pInputText formControlName="confirmOldPassword" placeholder="confirm old password"/>
<!--      <div *ngIf="changePasswordForm.controls['confirmOldPassword'].invalid && changePasswordForm.controls['confirmOldPassword'].dirty">-->
<!--        <span class="bg-danger">Пароль должен совпадать.</span>-->
<!--      </div>-->
    </div>
    <div class="mt-4">
      <input type="text" pInputText formControlName="newPassword" placeholder="new password"/>
      <div *ngIf="changePasswordForm.controls['newPassword'].invalid && changePasswordForm.controls['newPassword'].dirty">
        <span class="bg-danger">Пароль не должен быть короче {{this.minLength}}.</span>
      </div>
    </div>
    <div class="mt-4">
      <p-button type="submit" [disabled]="!changePasswordForm.valid">Change password</p-button>
    </div>
  </form>


</div>
