<form [formGroup]="registrationForm" (submit)="registrationSubmit()">
  <div>
    <input type="text" pInputText formControlName="login" (invalid)="( validation.login = !validation.login )" #login ngModel="login" name="login" placeholder="login"/>
    <div  class="text-danger" [ngClass]="{'invalid-feedback': validation.login }">Логин не должен быть пустой.</div>
  </div>
  <div class="mt-4">
    <input type="text" pInputText formControlName="password" [ngModel]="123456" name="password" placeholder="password"/>
    <div  class="text-danger" [ngClass]="{'invalid-feedback': validation.password }">Логин не должен быть пустой.</div>
  </div>
  <div class="mt-4">
    <input type="text" pInputText formControlName="confirmPassword" [ngModel]="123456" name="confirm" placeholder="confirm password"/>
  </div>
  <div class="mt-4">
    <input type="text" pInputText formControlName="email" ngModel="admin@mail.com" name="email" placeholder="email"/>
    <div  class="text-danger" [ngClass]="{'invalid-feedback': validation.email }">Почта не должна быть пустой.</div>
  </div>
  <ng-container *ngIf="useUserCard; else noCard" class="mt-4">
    <div>
      <label for="cardNumber">Card Number</label>
    </div>
    <p-inputNumber formControlName="cardNumber" type="number" id="cardNumber"></p-inputNumber>
  </ng-container>
  <ng-template #noCard>
    <p class="mt-4">No card</p>
  </ng-template>
  <div class="mt-4">
    <p-checkbox
      label="Добавить карту"
      formControlName="cardIsAccepted"
      [binary]="true">
    </p-checkbox>
  </div>
  <div class="mt-4">
    <button class="btn btn-primary" [disabled]="!registrationForm.valid">Registration</button>
  </div>
</form>
