<form [formGroup]="registrationForm" (submit)="registrationSubmit(registrationForm.value)">
  <div>
    <input type="text" pInputText formControlName="login" name="login" placeholder="login"/>
    <div *ngIf="registrationForm.controls['login'].invalid && registrationForm.controls['login'].dirty">
      <span class="bg-danger">Логин не должен быть пустой.</span>
    </div>
  </div>
  <div class="mt-4">
    <input type="text" pInputText formControlName="password" name="password" placeholder="password"/>
    <div *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].dirty">
      <span class="bg-danger">Пароль не должен быть короче {{this.minLength}}.</span>
    </div>
  </div>
  <div class="mt-4">
    <input type="text" pInputText formControlName="confirmPassword" name="confirm" placeholder="confirm password"/>
    <div *ngIf="isVariousPasswords">
      <span class="bg-danger">Пароли должны совпадать.</span>
    </div>
  </div>
  <div class="mt-4">
    <input type="text" pInputText formControlName="email" name="email" placeholder="email"/>
    <div *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].dirty">
      <span class="bg-danger">Почта не должна быть пустой.</span>
    </div>

  </div>
  <ng-container *ngIf="useUserCard; else noCard" class="mt-4">
    <div>
      <label for="cardNumber">Card Number</label>
    </div>
    <p-inputNumber formControlName="cardNumber" type="number" id="cardNumber"></p-inputNumber>
  </ng-container>
  <ng-template #noCard>
    <p class="mt-4">No card</p>
  </ng-template>
  <div class="mt-4">
    <p-checkbox
      label="Сохранить пользователя в локальном хранилище"
      formControlName="isLocalStorage"
      [binary]="true">
    </p-checkbox>
  </div>
  <div class="mt-4">
    <button class="btn btn-primary" [disabled]="!registrationForm.valid">Registration</button>
  </div>
</form>
